---
import Layout from "../../layouts/Layout.astro";
import Login from "../../components/Login.svelte";
const title = "Login";
---

<Layout title={title}>
  <section class="login">
    <Login client:load />
  </section>
</Layout>
