---
import Layout from "../../layouts/Layout.astro";

const title = "Cart";
---

<Layout title={title}>
  <script src="../../js/cart.ts"></script>
  <section class="products">
    <h2>My Cart</h2>

    <ul class="product-list">
      <!-- 
          <li class="cart-card divider">
            <a href="product_pages/marmot-ajax-3.html" class="cart-card__image">
              <img
                src="images/tents/the-north-face-talus-tent-4-person-3-season-in-golden-oak-saffron-yellow~p~985rf_01~320.jpg"
                alt="Talus Tent - 4-Person, 3-Season"
              />
            </a>
            <a href="product_pages/marmot-ajax-3.html">
              <h2 class="card__name">
                The North Face Talus Tent - 4-Person, 3-Season
              </h2></a
            >
            <p class="cart-card__color">Golden Oak/Saffron Yellow</p>
            <p class="cart-card__quantity">qty: 1</p>
            <p class="cart-card__price">$199.99</p>
          </li> -->
    </ul>
  </section>
</Layout>
